
* {
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

.main {
    width: auto;
    margin: 20px 20px 20px 75px;
}

.tree {
    padding-bottom: 30px;
}

.price {
    padding-bottom: 15px;
}

.price_left span {
    font-weight: bold;
}

.price_right span {
    font-weight: bold;
}

.price_left {
    width: 50%;
    float: left;
}

.price_right {
    width: 50%;
    float: right;
}

.tree ul {
    font-size: 0;
    white-space: nowrap;
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li.mainLi::before, .tree li.mainLi::after {
      border: 0 none;
}
.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li.mainLi::after {
      border: 0 none;
}
.tree li::after {
    right: auto;
    left: 50%;
    border-left: 2px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}
.tree li.mainLi:last-child::before {
    border: 0 none;
}
.tree li:last-child::before {
    border-right: 2px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a {
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
}

.tree li .branch {
    background-color: #fff;
    z-index: 1;
    white-space: normal;
    position: relative;
    width: 120px;
    height: 40px;
    border: 2px solid #ccc;
    padding: 5px;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li .branch:hover, .tree li .branch:hover + ul li .branch {
    background: #c8e4f8;
    color: #000;
    border: 2px solid #94a0b4;
}

.tree li .branch:hover + ul li::after,
.tree li .branch:hover + ul li::before,
.tree li .branch:hover + ul::before,
.tree li .branch:hover + ul ul::before {
    border-color: #94a0b4;
}

.fixed-overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(0,0,0,0.5);*/
}

.fixed-overlay__modal {
    text-align: center;
    white-space: nowrap;
}

.fixed-overlay__modal::after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
}

.tree li .branch .popapTree {
    display: none;
    position: absolute;
    width: 110px;
    height: 60px;
    border: 1px solid #ccc;
    /*padding: 5px;*/
    left: 130px;
    top: -38px;
    background: white;
    z-index: 1;
}

.tree li .branch.active {
    z-index: 2 !important;

}

.tree li .branch.active > .popapTree {
    display: block;
}

.popapTree nav img {
    float: left;
    padding-right: 5px;
}

.popapTree p:hover {
    background: #adc9dd;
    color: #000;
}

.popapTree p {
    padding: 2px 3px;
    cursor: pointer;
    line-height: 16px;
    text-align: left;
    margin: 0;
    height: 16px;
}

.menu {
    margin: 90px 30px 30px;
    position: fixed;
    width: 120px;
    z-index: 2;
    background: white;
}

.menu img {
    position: fixed;
    float: left;
    z-index: 3;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 9px;
    margin-left: 1px;
    margin-top: 1px;
    border-top-left-radius: 5px;
}

.menu h3 {
    font-family: arial, verdana, tahoma;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    float: right;
    margin: 0;
    color: #666;
}

.menu ul {
    margin: 0;
    clear: both;
}

.menu li {
    list-style-type: none;
    padding-left: 10px;
    padding-bottom: 5px;
}

.menu li a:hover {
    color: #adc9dd;
}

.menu li a {
    min-width: 70px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
}

.menuShow {
    display: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
}

.overlay {
    background: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    opacity: .5;
}

.visible input {
    color: #666;
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.visible p {
    color: #666;
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: arial, verdana, tahoma;
    text-align: center;
}

.visible {
    border-radius: 5px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -175px;
    overflow: hidden;
    z-index: 2000;
    width: 500px;
    margin-left: -250px;
    padding: 5px 20px 20px;
}

#editModal .close, #insertModal .close {
    font-family: arial, verdana, tahoma;
    text-decoration: none;
    line-height: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: 500px;
    position: fixed;
}

#editModal button:hover, #insertModal button:hover {
    transition: 1s;
    color: #e0e0e0;
    background-color: #666;

}

#editModal .error, #insertModal .error {
    border: 1px solid #f00;
}

#editModal button, #insertModal button {
    font-size: 13px;
    font-weight: bold;
    background-color: #e0e0e0;
    color: #666;
    width: 100%;
    height: 33px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

#editModal .modal_name, #insertModal .modal_name {
    width: 45%;
    float: left;
}

#editModal .modal_price, #insertModal .modal_price {
    width: 45%;
    float: right;
}

.add_corporation:hover {
    background-color: #666;
    color: #ccc;
    transition: 1s;

}

.add_corporation {
    transition: 1s;
    font-family: arial, verdana, tahoma;
    cursor: pointer;
    background-color: white;
    color: #666;
    border: 2px solid #ccc;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 95px;
    margin-top: 15px;
}

.tree li .illumination {
    -moz-animation-name: backlight;
    -webkit-animation-name: backlight;
    animation-name: backlight;
    /* -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; */
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

@-webkit-keyframes backlight {
    from {
        background: #fff;
        color: #666;
        border: 2px solid #ccc;
    }
    50% {
        background: #c8e4f8;
        color: #000;
        border: 2px solid #94a0b4;
    }
    to {
        background: #fff;
        color: #666;
        border: 2px solid #ccc;
    }
}

@-moz-keyframes fluctuation {
    from {
        background: #fff;
        color: #666;
        border: 2px solid #ccc;
    }
    50% {
        background: #c8e4f8;
        color: #000;
        border: 2px solid #94a0b4;
    }
    to {
        background: #fff;
        color: #666;
        border: 2px solid #ccc;
    }
}

@keyframes fluctuation {
    from {
        background: #fff;
        color: #666;
        border: 2px solid #ccc;
    }
    50% {
        background: #c8e4f8;
        color: #000;
        border: 2px solid #94a0b4;
    }
    to {
        background: #fff;
        color: #666;
        border: 2px solid #ccc;
    }
}
